body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden !important;
  color: black;
}

.courses-left {
  margin-left: 3rem;
}

.nav button {
  padding: 0.5rem 0.5rem !important;
  border-radius: 5px;
}

#pdf {
  margin-left: 4rem;
}

@media (max-device-width : 1024px) {

  .varsity {
    height: auto;
    width: auto;
  }
}


@media (max-device-width : 768px) {

  .title {
    font-size: 1.6rem;
  }

  .sub-title {
    font-size: 0.9rem;
  }

  .courses-left {
    margin: 0 0 2.6rem 0;
  }

  .nav>button {
    margin: -2rem 1rem 0 2.2rem;
    width: 100%;
  }

  #pdf {
    margin: 4rem 3rem 0 1.3rem;
    height: 27rem;
    width: 90%;
  }

  .varsity_tutors {
    margin-top: -1rem !important;
    height: auto;
    width: 100%;
  }


}