/* body {
  font-family: Garamond, Georgia, serif;
  overflow-x: hidden !important;
  color: black;
}

.anchor {
  text-decoration: none !important;
  color: black;
}

.anchor:hover {
  text-decoration: none !important;
  color: black !important;
}

.classes {
  text-shadow: 0.1px 0.1px rgb(165, 164, 164);
}

.courses-left {
  margin-left: 3rem;
}

#pdf {
  margin-left: 3rem;
}

button,
.ipdf {
  border: 1px solid rgb(165, 164, 164);
}

.footer-div {
  justify-content: space-around;
}

@media (max-device-width: 1024px) {

  button {
    font-size: 0.6rem !important;
  }

  .courses-left {
    margin: 0 0 2.6rem 2rem;
  }

  #pdf {
    margin-left: 1rem;
  }

  .fa-facebook {
    margin-right: -0.3rem !important;
  }

  .fa-envelope {
    margin-left: -0.3rem !important;
  }

  .copyright {
    font-size: 0.8rem;
  }

}


@media (max-device-width: 767px) {

  .courses-left {
    margin: 0 0 0.5rem 0 !important;
  }

  button {
    margin-left: 0.8rem !important;
  }

  .classes {
    font-size: 1rem;
    margin-bottom: 20px !important;
  }

  .bottom-class-notes {
    margin-left: 2rem;
  }

  #pdf {
    margin-left: 0 !important;
    height: 24rem;
    width: 100%;
  }

  .footer-div {
    font-size: 60%;
  }

  .copyright {
    font-size: 0.8rem;
  }

} */