body {
  font-family: Garamond, Georgia, serif;
  overflow-x: hidden !important;
  color: black;
}

.classes {
  text-shadow: 0.1px 0.1px rgb(165, 164, 164);
}

.courses-left {
  margin-left: 3rem;
}

.nav button {
  padding: 0.5rem 0.5rem !important;
  border-radius: 2px;
  font-size: 0.8rem;
}

#pdf {
  margin-left: 3rem;
}

button,
.ipdf {
  border: 1px solid rgb(165, 164, 164);
}

.tutoring-about {
  margin-top: 80px !important;
  font-size: 1.3rem;
}

.mathnasium-tutor-link {
  color: rgb(231, 16, 16);
}

.mathnasium-tutor-link:hover {
  color: gray;
  text-decoration: none;
}

.varsity-tutor-link {
  color: rgb(61, 61, 248);
}

.varsity-tutor-link:hover {
  color: gray;
  text-decoration: none;
}

.mathnasium-img {
  width: 80vw;
  height: auto;
  border: 1px solid rgb(165, 164, 164);
  border-radius: 3px;
  margin-bottom: 50px;
}

.footer-div {
  justify-content: space-around;
}

@media (max-device-width: 1024px) {

  .title-mn {
    font-size: 2.5rem;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .mathnasium_about {
    font-size: 0.9rem;
  }

  .panorama {
    margin: 0 0 0 0 !important;
    height: 25vh;
    width: 90vw;
  }

  .gray-div {
    display: none !important;
  }

  button {
    font-size: 0.6rem !important;
  }

  .courses-left {
    margin: 0 0 2.6rem 2rem;
  }

  #pdf {
    margin-left: 1rem;
  }

  .fa-facebook {
    margin-right: -0.3rem !important;
  }

  .fa-envelope {
    margin-left: -0.3rem !important;
  }

  .copyright {
    font-size: 0.8rem;
  }

}


@media (max-device-width: 767px) {

  .title-mn {
    font-size: 1.1rem;
  }

  .top-gray {
    margin-right: 100px !important;
  }

  .navbar {
    margin-right: 17vw !important;
  }

  .nav-link {
    font-size: 0.8rem;
  }

  .mathnasium_about {
    margin-top: -2rem !important;
    font-size: 0.8rem;
  }

  .panorama {
    margin: 30px 0 0 0 !important;
    height: 20vh;
    width: 90vw;
  }

  .gray-div {
    display: none !important;
  }

  .courses-left {
    margin: 0 0 0.5rem 0 !important;
  }

  button {
    margin-left: 0.8rem !important;
  }

  .classes {
    font-size: 1rem;
    margin-bottom: 20px !important;
  }

  .bottom-class-notes {
    margin-left: 2rem;
  }

  #pdf {
    margin-top: 3rem !important;
    margin-left: 0 !important;
    height: 24rem;
    width: 100%;
  }

  .tutoring-about {
    margin-top: 2rem !important;
    margin-bottom: 4rem !important;
    font-size: 0.65rem;
  }

  .mathnasium-img {
    margin-top: -2rem !important;
    margin-bottom: -2rem !important;
  }

  .footer-div {
    font-size: 60%;
  }

  .copyright {
    font-size: 0.8rem;
  }

}